<mat-card class="inicio primary" *ngIf="!(started || ended)">
  <mat-card-content class="text-center" style="margin-top: 4rem;">
    <span style="font-size: 24px" [innerHTML]="projectTitle"></span>
  </mat-card-content>
  <mat-card-actions>
    <p [innerHTML]="startMessage" style="margin: 16px 8px;"></p>
    <div class="not-a-robot">
      <mat-checkbox (click)="start()">{{ startButtonText }}</mat-checkbox>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="started && ! ended" class="captcha">
  <mat-card-content>
    <div class="primary captcha-title">
      <span [innerHTML]="title"></span>
    </div>

    <mat-grid-list [cols]="numberOfColumns" rowHeight="1:1">
      <mat-grid-tile *ngFor="let tile of tiles"
        [ngClass]="{ 'selected': isChecked(tile) }"
        (click)="toggle(tile)">
        <img src="assets/images/tiles/{{ tile + 1 }}.jpg">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions style="text-align: right">
    <button mat-flat-button color="primary" (click)="validate()">{{ validateCaptchaButtonText }}</button>
  </mat-card-actions>
</mat-card>

<mat-card class="fim primary" *ngIf="ended">
  <mat-card-content class="text-center" style="margin-top: 4rem;">
    <span style="font-size: 24px" [innerHTML]="endTitle"></span>
  </mat-card-content>
  <mat-card-actions>
    <p [innerHTML]="endMessage" style="margin: 16px 8px;"></p>
    <div class="not-a-robot">
      <mat-checkbox (click)="reset()">{{ restartButtonText }}</mat-checkbox>
    </div>
  </mat-card-actions>
</mat-card>