.mat-card {
    /* font: Roboto,"Helvetica Neue",sans-serif; */
    margin: 2em auto;
    max-width: 400px;
    min-height: 545px;
}

.inicio h1,
.fim h1 {
    text-align: center;
}

.inicio div.mat-card-header-text {
    margin: 0 0 !important;
}

mat-card-content.v-center {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translateY(-50%);
    font-size: 1rem;
}

.inicio mat-card-actions,
.captcha mat-card-actions,
.fim mat-card-actions {
    position: absolute;
    left: 16px;
    bottom: 16px;
    right: 16px;
}

.captcha mat-card-actions {
    margin: 0;
}

.not-a-robot {
    background-color: #eee;
    color: rgba(0,0,0,.87);
    border: solid 1px darkgray;
    padding: 1em;
    margin: 8px;
}

mat-grid-tile img {
    width: 100%;
}

mat-grid-tile.selected {
    background-color: #3f51b5;
}

mat-grid-tile.selected img {
    width: 80%;
}

.primary {
    background-color: #3f51b5;
    color: #fff;
}

.captcha-title {
    margin: 5px 0;
    padding: 10px;
    font: Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    font-weight: 500;
}